<app-navbar></app-navbar>
  <div class="grid-container">
      <div class="grid-item">
          <h3>{{coupons.name}}</h3>
          <p>{{coupons.description}}</p>
          <img src="{{imageurl}}" alt="image">
          <p>Company name: Cinema</p>
          <p>Original cost: {{coupons.ogCost}}€</p>
          <p>Cost with discount: {{coupons.discounted}}€</p>
          <form>
              <input type="text" id="cardNum" class="formInput" placeholder="Credit card number"><br>
              <input type="text" id="cardExpedition" class="formInput" placeholder="Card expedition date: MM/YY"><br>
              <input type="text" id="cardOwner" class="formInput" placeholder="Name in the card">
              <input type="submit" id="buyCoupon" value="Buy coupon" (click)="getCode()">
          </form><br>
          <input type="submit" (click)="addFavorite()" class="formInput" id="fav" value="Fav">
          <p *ngIf="code">Code: {{code}}</p>
      </div>
  </div>