<ion-content>
  <div class="grid-container">
      <!--*ngIf="!profile"-->
      <a href="profilemanagement">Edit profile</a>
      <!--*ngIf="profile"-->
      <div class="grid-item">
          <h2>{{profile.name}}</h2>
          <a name = "couponList" href="mycoupons">My coupons list</a>
          <img src="../../assets/images/couponimg.jpeg" alt="businessimage">
          <h4>Address</h4>
          <p>{{profile.address}}</p>
          <h4>Week Schedule</h4>
          <ul>
              <li>M - {{profile.monday}}</li>
              <li>T - {{profile.tuesday}}</li>
              <li>W - {{profile.wednesday}}</li>
              <li>T - {{profile.thursday}}</li>
              <li>F - {{profile.friday}}</li>
              <li>S - {{profile.saturday}}</li>
              <li>S - {{profile.sunday}}</li>
          </ul>
      </div>
  </div>
</ion-content>