h2 {
    margin-left: 50px;
    margin-bottom: 30px;
}

.formInput {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #91B7D9;
    margin-left: 50px;
    margin-top: 50px;
}
#deleteCoupon {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 5px;
    border: none;
    background-color: #91B7D9;
    margin-left: 50px;
    margin-top: 50px;
}

.coupon {
    box-shadow: 10px 5px 50px 3px rgba(170, 154, 154, 0.568);
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    margin-top: 50px;
}

img {
    margin-left: 50px;
    width: 300px;
    height: 250px;
}

.couponInfo {
    margin-top: -250px;
    margin-left: 500px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

#createCoupon {
    border-radius: 10px;
    border: none;
    background-color: #91B7D9;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 50px;
}

.cost {
    margin-left: 150px;
    margin-top: -50px;
}