
<ion-content>
      <body>    
          <h2>Edit coupon</h2>
          <div class="grid-container">
              <div class="grid-item">
                  <form>
                      <input type="text" id="editCouponName" name="editCouponName" placeholder="Name"><br>
                      
                      <input type="text" id="editOgCost" name="editOgCost" placeholder="Original Cost"><br>
                      
                      <input type="text" id="editCostDiscounted" name="editCostDiscounted" placeholder="Price with discount"><br>
                      
                      <textarea name="editDescription" id="editDescription" rows="10" cols="30" placeholder="Description"></textarea><br>
                      
                      <label>Add media files:</label><br>
                      <input type="text" id="addMedia" name="addMedia"><br>

                      <input type="submit" id="editCoupon" value="Save changes">
                  </form>
              </div>
          </div>
      </body>
</ion-content>