<app-navbar></app-navbar>
<ion-content>
  <div class="grid-container">
      <div class="grid-item">
          <h3>Edit company profile</h3>
          <form>
              <label for="profileName">Name:</label><br>
              <input type="text" [(ngModel)]="name" id="profileName" name="profileName" value="{{name}}"><br>
              
              <label for="address">Address:</label><br>
              <input type="text" id="address" [(ngModel)]="address" name="address" value="{{address}}"><br>
              
              <label for="addMedia">Add media files:</label><br>
              <input type="file" id="addMedia" name="addMedia" placeholder="Add media files">

              <ul>
                  <li>M - <input type="text" [(ngModel)]="monday" name="time" id="time" placeholder="HH:MM"></li>
                  <li>T - <input type="text" [(ngModel)]="tuesday" name="time" id="time" placeholder="HH:MM"></li>
                  <li>W - <input type="text" [(ngModel)]="wednesday" name="time" id="time" placeholder="HH:MM"></li>
                  <li>T - <input type="text" [(ngModel)]="thursday" name="time" id="time" placeholder="HH:MM"></li>
                  <li>F - <input type="text" [(ngModel)]="friday" name="time" id="time" placeholder="HH:MM"></li>
                  <li>S - <input type="text" [(ngModel)]="saturday" name="time" id="time" placeholder="HH:MM"></li>
                  <li>S - <input type="text" [(ngModel)]="sunday" name="time" id="time" placeholder="HH:MM"></li>
              </ul>

              <input type="submit" (click)="createProfile()" id="saveProfile" value="Save changes">
          </form>

      </div>
  </div>
</ion-content>