<app-navbar></app-navbar>
<ion-content>
  <h2>My favourite coupons</h2>
    <!---->  
    <div class="coupon" *ngFor="let coupon of coupons">
          <img src="{{coupon.couponImage}}" alt="couponImage">
          <div class="couponInfo">    
              <a href="coupon/{{coupon.id}}"><h4>{{coupon.name}}</h4></a>
              <p>{{coupon.description}}</p>
              <b><p>Original cost: </p></b>
              <p class="cost">{{coupon.ogCost}}€</p>
              <b><p>Discounted price: </p></b>
              <p class="cost">{{coupon.discounted}}€</p>
              <input type="submit" class="formInput" id="removeFav" value="Remove fav">
      </div>
  </div>
</ion-content>